<ion-content style="background: none transparent;" no-padding no-margin>
    <ion-grid style="height: 100%; width:100%;" no-padding no-margin>
        <ion-row nowrap *ngIf="scannerActive" style="height: 500px">
            <ion-col no-padding no-margin>
                <div id="preview"></div>
            </ion-col>
        </ion-row>
        <ion-row nowrap style="height: 100%; background-color:white;">
            <ion-col style="height: 100%; width:100%; background-color:white;">
                <ion-list>
                    <ion-item-sliding *ngFor="let barcode of barcodes">
                        <ion-item>
                            <ion-card text-center (click)="getBarcode(barcode)">
                                <span>{{ barcode.amount }}</span>
                                <ngx-barcode [bc-format]="barcode.format" [bc-value]="barcode.code" [bc-display-value]="true"></ngx-barcode>
                            </ion-card>
                        </ion-item>
                        <ion-item-options>
                            <button ion-button color="danger" (click)="removeCode(barcode)" icon-only>
                                <ion-icon name="trash"></ion-icon>
                            </button>
                        </ion-item-options>
                    </ion-item-sliding>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
<ion-footer text-center style="background-color: lightgray;">
    <ion-grid no-padding>
        <ion-row>
            <ion-col col-6>
                <button [disabled]="barcodes.length<1" ion-button full large icon-only (click)="clearAll()" color="danger">
                    <ion-icon name="refresh"></ion-icon>
                    Clear
                </button>
            </ion-col>
            <ion-col col-6>
                <button ion-button full large icon-left (click)="scanCode()">
                    <ion-icon name="qr-scanner"></ion-icon>
                    Scan Code
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>