<ion-header>

    <ion-navbar>
        <ion-title text-center>Checkuut</ion-title>
    </ion-navbar>
</ion-header>


<ion-content no-padding>
    <ion-badge *ngIf="running && seconds">
        {{seconds}}
    </ion-badge>
    <ion-slides (ionSlideDidChange)="slideChanged()">
        <ion-slide *ngFor="let barcode of barcodes" [ngClass]="{black:barcode.code.length==0}">
            <ion-card text-center *ngIf="barcode.code">
                <ngx-barcode [bc-format]="'EAN13'" [bc-value]="barcode.code" [bc-display-value]="true"></ngx-barcode>
            </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>
<ion-footer>
    <button ion-button full large icon-left color="danger" (click)="stopCheckout()" *ngIf="running">
        <ion-icon name="square"></ion-icon>
        Stop Checkout
    </button>
    <button ion-button full large icon-left (click)="startCheckout()" *ngIf="!running">
        <ion-icon name="play"></ion-icon>
        Start Checkout
    </button>
</ion-footer>
